.RightPanel {
  width: 94px;
  flex-shrink: 0;
  background: #1b2333;
  padding: 20px 0px;
  grid-gap: 15px;
}

.logo_img {
  width: 30.686px;
  height: 35.5px;
}

.logo {
  display: grid;
  justify-content: center;
  width: 100%;
}

.log_name {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.icons {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-gap: 45px;
  margin-top: 155px;
}

.icons_panel {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1157) {
  .RightPanel {
    display: none;
  }
}
